body {
  min-height: 100vh;
  min-width: 100vw;
  /*IMPORTANTE*/
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color:#5e2760;
  background: url("img/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/loader.gif) center no-repeat #fff;
}
audio{display: none;}
.instagram{
  display: block;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 9999;
}
.footer {
    padding-bottom: 5px;
    bottom: 0px;
    color: #fff;
    background: #444242;
}